@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&display=swap');

:root {
  --primary-color: #008DA3   ;
  --secondary-color: #FEE59A ;
  --accent1-color: #FFC2C2;
  --accent2-color: #C1C1D7;

  --heading-font: "Indie Flower";
  --paragraph-font: Raleway, Helvetica, sans-serif;

  --headline-color-on-white: #008DA3;  
  --headline-color-on-color: #C1C1D7; 
  --paragraph-color-on-white: #008DA3;
  --paragraph-color-on-color: #C1C1D7;  
  --paragraph-background-color: #008DA3  ;
  --nav-link-color: #008DA3;
  --nav-background-color: #FEE59A;
  --nav-hover-link-color: #C1C1D7;
  --nav-hover-background-color: #008DA3;
}
body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: #fcfbfb; 
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
}
.msg h2 {
    font-family: var(--heading-font), sans-serif;
}
h2 {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
header {
    background-color:var(--accent2-color);
}
nav a {
    color: rgb(76, 72, 72);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 35px;
}
.book, .join {
    background-color: var(--accent2-color);
    color: rgb(76, 72, 72);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--primary-color);
    color: black;
}
#background {
    background-color: var(--accent2-color);
}
.msg {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: rgb(76, 72, 72);
    margin-top: 10px;
}
h4 {
    color: rgb(76, 72, 72);
}
.msg h2 {
    color: rgb(76, 72, 72);
}
.msg p {
    color: rgb(76, 72, 72);
    font-size: 0.8em;

    padding-bottom: 15px;
}
footer h3 {
    color: #000;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    color: rgb(76, 72, 72);
}
footer .social img {
    padding-top: 15px;
}  
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 125px;
}
#logo_link   {
    padding-top: 5px;
}
#hero-img {
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid var(--primary-color);
}
main section img {
    box-sizing: border-box;
}