@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&display=swap');
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
:root {
  --primary-color: #008DA3   ;
  --secondary-color: #FEE59A ;
  --accent1-color: #FFC2C2;
  --accent2-color: #C1C1D7;

  --heading-font: "Indie Flower";
  --paragraph-font: Raleway, Helvetica, sans-serif;

  --headline-color-on-white: #008DA3;  
  --headline-color-on-color: #C1C1D7; 
  --paragraph-color-on-white: #008DA3;
  --paragraph-color-on-color: #C1C1D7;  
  --paragraph-background-color: #008DA3  ;
  --nav-link-color: #008DA3;
  --nav-background-color: #FEE59A;
  --nav-hover-link-color: #C1C1D7;
  --nav-hover-background-color: #008DA3;
}
body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: #fcfbfb; 
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
}
.msg h2 {
    font-family: var(--heading-font), sans-serif;
}
h2 {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
header {
    background-color:var(--accent2-color);
}
nav a {
    color: rgb(76, 72, 72);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 35px;
}
.book, .join {
    background-color: var(--accent2-color);
    color: rgb(76, 72, 72);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--primary-color);
    color: black;
}
#background {
    background-color: var(--accent2-color);
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: rgb(76, 72, 72);
    margin-top: 10px;
}
h4 {
    color: rgb(76, 72, 72);
}
.msg h2 {
    color: rgb(76, 72, 72);
}
.msg p {
    color: rgb(76, 72, 72);
    font-size: 0.8em;

    padding-bottom: 15px;
}
footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
footer h3 {
    color: #000;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    color: rgb(76, 72, 72);
}
footer .social img {
    padding-top: 15px;
}  
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 125px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid var(--primary-color);
}
.card-img {
    width: 100%;
}
.card-img {
    width: 100%;
    border: 10px solid var(--primary-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
    
.camping-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
main section img {
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
      